/* Responsive Styles */
@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .content{
        width: 100%;
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
    }
    .item{
        width: calc(100% / 2 - 15px);
    }
    .popup-content{
        min-width: 90%;
        max-width: 90%;
    }
}
